// подключаем миксины и переменные темы
@import "../../../../themes/prod/css/_include";

.warehouse {
  display: flex; flex-wrap: wrap;
  margin-bottom: 120px;
  h3 {
    flex: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  .calendar,
  .schedule {
    flex: 0 50%;
    display: flex; flex-wrap: wrap; align-content: flex-start;
    padding: 30px 30px 30px 0;
  }

  .calendar {
    h3 {
      display: flex; justify-content: space-between;
      a { color: $text-muted; font-size: $font-size-small; }
    }
    .days {
      flex: 0 100%;
      display: flex; flex-wrap: wrap; align-content: flex-start;
      margin: 0; padding: 0; list-style: none;
    }
    .wday,
    .day {
      flex: 0 0 14.28%;
      font-size: 20px; font-weight: 100; text-align: center;
      padding: 10px;
    }
    .wday {
      color: #ccc; font-size: 16px;
    }
    .day {
      padding: 0 10px;
      position: relative;
      .day-content {
        color: inherit;
        text-decoration: none;
        display:inline-block;
        border: 1px solid transparent; border-radius: 4px;
        line-height: 40px;
        width: 40px; height: 40px; text-align: center;
        margin-bottom: 3px;
        @include transition(all .1s linear);
      }
      &:not(.color-wend):hover {
        .day-content {
          border-color: #00336d;
        }
      }
      .busyness-same {
        width: 30px; height: 3px;
        margin: 0 auto 5px;
        &.busy { background: #6bbe6b; }
      }
      .busyness {
        color: #ccc; font-size: $font-size-small; text-align: center;
        min-height: 20px;
      }
      &.color-wend {
        //.day-content { background: #fff0ee; }
        .day-content { background: #fdc3bc; }
      }
      &.color-free {
        //.day-content { background: #f0ffee; }
        .day-content { background: #bfffb6; }
      }
      &.color-lack {
        //.day-content { background: #fff6d8; }
        .day-content { background: #ffedb1; }
      }
      &.active {
        .day-content {
          background: $brand-primary;
          border-color: #00336d;
          color: #fff;
        }
      }
    }
    .edit-weekends {
      padding: 20px;
      text-align: right;
      width: 100%;
      a { color: $text-muted; font-size: $font-size-small; }
    }
  }

  .schedule {
    .time-list {
      flex: 0 100%;
      display: flex; flex-wrap: wrap;
      position: relative;
      padding: 15px;
    }
    .date {
      flex: 0 100%;
      color: #ccc; text-align: center;
      padding: 10px;
    }
    .col {
      flex: 0 0 33.3%;
      display: flex; flex-wrap: wrap; align-content: flex-start;
      padding: 0 15px;
      @include make-row(6px);
    }
    .time-title,
    .time {
      @include make-sm-column(12, 5px);
      //flex: 100%;
      font-size: 16px; text-align: right;
      margin: 0 auto 5px;
      //padding: 0 5px;
      &.quarter { @include make-sm-column(6, 6px); }
      .time-content {
        border: 1px solid #ccc; border-radius: 4px;
        display: block;
        color: inherit;
        text-decoration: none;
        padding: 5px 10px 3px 5px;
        &.free.active, &.busy-same.active,
        &.free:hover,  &.busy-same:hover {
          border-color: #009100;
        }
        &.free.active, &.busy-same.active, {
          background: #6bbe6b;
        }
        &.free.active.late, &.busy-same.active.late,
        &.late {
          //border-color: $brand-warning;
          &:after {
            position: absolute; left: 10px; top: 10px;
            display: inline-block;
            color: $brand-warning;
            font-family: "Glyphicons Halflings"; font-size: 13px; font-style: normal; font-weight: 400; line-height: 1;
            content: "\e209";
            -webkit-font-smoothing: antialiased;
          }
        }
        &.free.active.missed, &.busy-same.active.missed,
        &.missed {
          //border-color: $brand-danger;
          &:after {
            position: absolute; left: 10px; top: 10px;
            display: inline-block;
            color: $brand-danger;
            font-family: "Glyphicons Halflings"; font-size: 13px; font-style: normal; font-weight: 400; line-height: 1;
            content: "\e083";
            -webkit-font-smoothing: antialiased;
          }
        }
        &.free.active.gone, &.busy-same.active.gone,
        &.gone {
          //border-color: $brand-warning;
          &:after {
            position: absolute; left: 10px; top: 10px;
            display: inline-block;
            color: #009100;
            font-family: "Glyphicons Halflings"; font-size: 13px; font-style: normal; font-weight: 400; line-height: 1;
            content: "\e013";
            -webkit-font-smoothing: antialiased;
          }
        }
      }
      @include transition(all .1s linear);
    }
    .time-title {
      color: $text-muted; font-size: $font-size-small; text-align: center;
    }
  }

  .schedule-legend {
    font-size: $font-size-small;
    color: $text-muted;
    display: flex; flex-wrap: wrap;
    padding: 0 30px;
    div:nth-child(1),
    div:nth-child(2),
    div:nth-child(3) {
      flex: 1 1 33%;
      margin-bottom: 10px;
    }
    div:nth-child(4),
    div:nth-child(5) {
      flex: 0 50%;
      margin-bottom: 10px;
    }
    span {
      display: inline-block;
      width: 30px; height: 20px;
      border: 1px solid $gray-lightest;
      margin-right: 5px;
      vertical-align: middle;

      &:not(:first-child) {
        margin-left: 30px;
      }

    }
  }

  .description {
    padding-left: 23px;
    width: 100%;
    h3 {
      text-align: left;
      margin-bottom: 15px;
    }
    .wwork-item {
      display: flex; flex-wrap: wrap;
      border: 1px solid #888888;
      border-top: 8px solid #888888;
      padding: 20px 20px 0;
      width: 100%;
      > div {
        flex: 100%;
        display: flex; flex-wrap:wrap; justify-content: space-between;
      }
      .field-item {
        flex: 0 0 150px;
        margin-bottom: 15px; padding-right: 15px;
        .field-label {
          color: $text-muted; font-size: 12px;
          margin-bottom: 5px;
        }
      }
      .field-truck-driver { flex: 1 0 400px; }
      .field-status { flex: 0 0 170px; }
      .field-note {
        flex: 1 0 400px;
      }
      //.field-combined-cargo {
      //  flex: 0 0 150px;
      //}
      .field-actions {
        flex: 100%; justify-content: flex-end;
        border-top: 1px solid $gray-lightest;
        padding: 4px 0 4px;
        //text-align: right;
        min-height: 31px;
        a { margin-left: 10px; }
      }
      &.late {
        border-color: $brand-warning;
      }
      &.missed { border-color: $brand-danger; }
      &.checkin { border-color: $brand-success; }
      &.onload { border-color: $brand-success; }
      &.gone { border-color: $brand-success; }
    }

    .add-actions {
      > div {
        display: flex;
        > div {
          flex: 0 0 50%;
          text-align: center;
          padding: 15px;
          p {
            color: $text-muted; font-size: $font-size-small;
            margin-top: 15px;
          }
        }
      }
    }
  }

  .panel-default {
    flex: 100%;
    border: none; box-shadow: none;
    margin-bottom: 0;
    .panel-heading {
      background: #dedede; border: none;
      font-weight: 700;
      //padding: 0;
    }
    .panel-body {
      padding: 15px 0;
      .table-responsive { overflow: hidden; }
    }
  }
  .group-driver {
    margin-bottom: $grid-gutter-width/2;
  }
  .field-name-field-wwork-time { margin-bottom: 30px; }
  .field-name-field-file-wwork-order { flex: 100%; }
  .field-name-field-files { flex: 100%; }
  .form-actions { flex: 100%; }
  .field-name-field-driver {
    margin-bottom: 0;
    .ief-row-form {
      > td { padding: 0; }
      .ief-form-row {
        border: none;
        padding: 0;
      }
    }
  }

  .container-inline-date .form-item {
    margin: 0;
    input {
      margin: 0;
      width: 100%;
    }
  }

  [class*=form-item-field-files] {
    width: 50%;
  }

  .selected {
    background: #6bbe6b;
    border-color: $brand-success;
  }

  .busy {
    background: #ffc29f;
    border-color: #ff5d00;
  }

  .busy-same {
    background: #c3e5c3;
    border-color: $brand-success;
  }

  .unavailable {
    background: #dedede;
    border-color: #888888;
  }


  .request {
    flex: 100%;
  }
}


.warehouse-form {
  .field-name-field-wwork-time {
    width: 200px;
  }

  .warehouse .schedule .time .time-content {
    &.busy-same.active,
    &.busy-same:hover {
      border: 1px solid $gray-lightest;
    }
  }

  .ief-entity-table {
    font-size: 14px;
    margin-bottom: 0;
    th,
    .inline-entity-form-taxonomy_term-vocabulary { display: none; }
    &.table-striped > tbody tr { background: none; }
    td {
      border: none;
      padding: 0 8px;
    }
    .inline-entity-form-taxonomy_term-name {
      line-height: 30px;
      padding-left: 0;
    }
  }
  .form-managed-file button { margin-left: 10px; }
}

.input-group-btn > .btn {
  height: 34px;
}

.view-report-wworks {
  table {
    caption {
      color: #333; font-size: $font-size-h3;
      padding-bottom: 0; padding-left: 7px;
    }
    > tbody > tr:nth-of-type(odd):not(:hover) { background: none; }
    > thead > tr > th {
      color: $text-muted; font-weight: 400;
      border-bottom: 1px solid #ddd;
      &.views-field-field-wwork-time-1 { width: 100px; }
      &.views-field-field-text { width: 200px; }
      &.views-field-field-truck-number { width: 110px; }
      &.views-field-field-company { width: 250px; }
      &.views-field-field-checkin-time { width: 110px; }
      &.views-field-field-onload-time { width: 110px; }
      &.views-field-field-gone-time { width: 110px; }
    }
  }
}

