// подключаем миксины и переменные темы
@import "../../../../themes/prod/css/_include";

.warehouse {
  display: flex; flex-wrap: wrap;
  margin-bottom: 120px;
  h3 {
    flex: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  .calendar,
  .schedule {
    flex: 0 50%;
    display: flex; flex-wrap: wrap; align-content: flex-start;
    padding: 30px 30px 30px 0;
  }

  .calendar {
    h3 {
      display: flex; justify-content: space-between;
      a { color: $text-muted; font-size: $font-size-small; }
    }
    .days {
      flex: 0 100%;
      display: flex; flex-wrap: wrap; align-content: flex-start;
      margin: 0; padding: 0; list-style: none;
    }
    .wday,
    .day {
      flex: 0 0 14.28%;
      font-size: 20px; font-weight: 100; text-align: center;
      padding: 10px;
    }
    .wday {
      color: #ccc; font-size: 16px;
    }
    .day {
      padding: 0 10px;
      position: relative;
      .day-content {
        color: inherit;
        text-decoration: none;
        display:inline-block;
        border: 1px solid transparent; border-radius: 4px;
        line-height: 40px;
        width: 40px; height: 40px; text-align: center;
        margin-bottom: 3px;
        @include transition(all .1s linear);
      }
      &.active {
        .day-content {
          background: $brand-primary;
          border-color: #00336d;
          color: #fff;
        }
      }
      &:hover {
        .day-content {
          border-color: #00336d;
        }
      }
      .busyness-same {
        width: 30px; height: 3px;
        margin: 0 auto 5px;
        &.busy { background: #6bbe6b; }
      }
      .busyness {
        color: #ccc; font-size: $font-size-small; text-align: center;
        min-height: 20px;
      }
    }

  }

  .schedule {
    .time-list {
      flex: 0 100%;
      display: flex; flex-wrap: wrap;
      position: relative;
      padding: 15px;
    }
    .date {
      flex: 0 100%;
      color: #ccc; text-align: center;
      padding: 10px;
    }
    .col {
      flex: 0 0 33.3%;
      display: flex; flex-wrap: wrap; align-content: flex-start;
      padding: 0 15px;
      @include make-row(6px);
    }
    .time {
      @include make-sm-column(12, 5px);
      //flex: 100%;
      font-size: 16px; text-align: right;
      margin: 0 auto 5px;
      //padding: 0 5px;
      &.quarter { @include make-sm-column(6, 6px); }
      .time-content {
        border: 1px solid #ccc; border-radius: 4px;
        display: block;
        color: inherit;
        text-decoration: none;
        padding: 5px 10px 3px 5px;
        &.free.active, &.busy-same.active,
        &.free:hover,  &.busy-same:hover {
          border-color: #009100;
        }
        &.free.active, &.busy-same.active, {
          background: #6bbe6b;
        }
      }
      @include transition(all .1s linear);
    }
  }

  .schedule-legend {
    font-size: $font-size-small;
    color: $text-muted;
    display: flex; flex-wrap: wrap;
    padding: 0 30px;
    div:nth-child(1),
    div:nth-child(2),
    div:nth-child(3) {
      flex: 1 1 33%;
      margin-bottom: 10px;
    }
    div:nth-child(4),
    div:nth-child(5) {
      flex: 0 50%;
      margin-bottom: 10px;
    }
    span {
      display: inline-block;
      width: 30px; height: 20px;
      border: 1px solid $gray-lightest;
      margin-right: 5px;
      vertical-align: middle;

      &:not(:first-child) {
        margin-left: 30px;
      }

    }
  }

  .description {
    padding-left: 23px;
    width: 100%;
    h3 {
      text-align: left;
      margin-bottom: 15px;
    }
    .wwork-item {
      display: flex; flex-wrap:wrap; justify-content: flex-start;
      border: 1px solid $brand-success;
      border-top: 8px solid $brand-success;
      padding: 20px 20px 0;
      width: 100%;
      .field-item {
        flex: 0 0 150px;
        margin-bottom: 15px;
        .field-label {
          color: $text-muted; font-size: 12px;
          margin-bottom: 5px;
        }
      }
      .field-truck-driver-surname { flex: 0 0 100px; }
      .field-truck-driver-name { flex: 0 0 100px; }
      .field-truck-driver-name2 { flex: 0 0 100px; }
      .field-actions {
        flex: 100%;
        border-top: 1px solid $gray-lightest;
        padding: 4px 0 4px;
        text-align: right;
        a { margin-left: 10px; }
      }
    }
  }

  .panel-default {
    flex: 100%;
    border: none; box-shadow: none;
    margin-bottom: 0;
    .panel-heading {
      background: none; border: none;
      font-weight: 700;
      padding: 0;
    }
    .panel-body {
      padding: 15px 0;
    }
  }
  .field-name-field-file-wwork-order { flex: 100%; }
  .field-name-field-files { flex: 100%; }
  .form-actions { flex: 100%; }

  .selected {
    background: #6bbe6b;
    border-color: $brand-success;
  }

  .busy {
    background: #ffc29f;
    border-color: #ff5d00;
  }

  .busy-same {
    background: #c3e5c3;
    border-color: $brand-success;
  }

  .unavailable {
    background: #dedede;
    border-color: #888888;
  }


  .request {
    flex: 100%;
  }
}


.warehouse-form {
  .field-name-field-wwork-time { display: none; }

  .warehouse .schedule .time .time-content {
    &.busy-same.active,
    &.busy-same:hover {
      border: 1px solid $gray-lightest;
    }
  }
}
