@import "../../cbtheme/css/variables"; // продублировано из styles.scss, чтобы переменные не подсвечивались

$content-well-max-width:  1320px;

// шрифт
//
$font-url:              'https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap';

//- colors
//
$page-bkg:                  #fff;

$menu-item-color:           #fff;
$menu-item-hover-color:     #fff;
$menu-item-active-color:    #fff;

$gray:                      #999;
$text-muted:                $gray;
