@import "../../cbtheme/css/variables"; // продублировано из styles.scss, чтобы переменные не подсвечивались

$content-well-max-width:  1320px;

// шрифт
//
$font-url:              'https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap';

//- colors
//
$page-bkg:                  #fff;

$brand-bg-blue:             #E1EBF1;
$brand-bg-orange:           #ffefe5;
$brand-bg-red:              #fddbdb;

$menu-item-color:           #fff;
$menu-item-hover-color:     #ddd;
$menu-item-active-color:    #fff;


$label-color:               $gray-darkest;
