/**
 * Default Variables.
 *
 * Modify this file to provide default Bootstrap Framework variables. The
 * Bootstrap Framework will not override any variables defined here because it
 * uses the `!default` flag which will only set their default if not already
 * defined here.
 *
 * You can copy existing variables directly from the following file:
 * ./THEMENAME/bootstrap/assets/stylesheets/bootstrap/_variables.scss
 */

// Set the proper directory for the Bootstrap Glyphicon font.
$icon-font-path: '../bootstrap/assets/fonts/bootstrap/';

//== Colors
//
//## Gray and brand colors for use across Bootstrap.

//$gray-base:              #000 !default;
//$gray-darker:            lighten($gray-base, 13.5%); // #222
//$gray-dark:              lighten($gray-base, 20%);   // #333
//$gray:                   #777;
$gray-light:             #999;
//$gray-lighter:           #bbb;
$gray-lightest:          #ccc;

$brand-primary:         darken(#428bca, 6.5%);
$brand-success:         #5cb85c;
$brand-info:            #35a8bf;
$brand-warning:         #bf8635;
$brand-danger:          #d9534f;
