
a:focus {
  outline: 0;
}
.page-header {
  margin-top: 30px;
}
.navbar .logo {
  display: block;
  width: 45px;
  img { display: block; width: 100%; }
}
.breadcrumb {
  display: none;
}

.checkbox label {
  line-height: 20px;
}


.date-form-element-content {
  border: none;
  padding: 0;
  display: flex;
  justify-content: flex-start;
}
.container-inline-date {
  //flex: 0 0 auto;
  width: initial;
  .end-date-wrapper {
    label {
      font-weight: 400;
      vertical-align: top;
      line-height: 2.5;
    }
    .date-padding {
      float: none;
      display: inline-block;
    }
  }
  .form-type-select { margin-right: 5px; }
}

form {
  .form-control:not(.form-textarea) {
    //width: initial; // в установке, поле производительность на всю длинну вместо 100% заданного flex контейнера
  }
  .form-actions { margin-top: $grid-gutter-width/2; }

  #field-nomenklatura {
    .field-name-field-nomenklatura,
    button { display: inline-block; }
    button {
      display: inline-block;
      vertical-align: top;
      margin: 24px 0 0 15px;
    }
  }
}

.block-views {
  h2 { margin-bottom: $grid-gutter-width/2; }
}

.table {
  font-size: $font-size-small;
  .form-control {
    font-size: $font-size-small;
  }
  .views-field-field-comment { max-width: 250px; }
}

.view {
  position: relative;
  .attachment-before,
  .view-filters,
  .view-header {
    margin-bottom: $grid-gutter-width/2;
    a.btn { margin: 0  5px $grid-gutter-width/2 0; }
  }
  .views-widget {
    display: flex;
    .control-label { display: none; }
    .form-item-month-min { margin-right: 15px; }
    .form-item-month-min-month,
    .form-item-month-max-month { margin-right: 5px; }
  }
  .form-item-field-month-value-value-month,
  .form-item-field-produce-date-value-value-month,
  .form-item-month-value-month { margin-right: 5px; }
  .view-item {
    display: flex; justify-content: space-between; flex-wrap: wrap;
    margin-bottom: $grid-gutter-width/2;
    position: relative;
    .views-field-id {
      flex: 0 0 140px;
      margin-bottom: $grid-gutter-width/2;
    }
    .views-field-created { flex: 0 0 150px; }
    .views-field-field-qty { flex: 150px; }
    .views-field-field-query-reason { flex: 0 0 300px; }
    .views-field-field-query-status-manager { flex: 0 0 220px; }
    .views-field-field-query-type { flex-basis: 100px; }

    .views-field-produce-units-form {
      flex: 100%;
      padding: $grid-gutter-width/2 0 0 0;
      border-top: 1px solid $gray-lightest;
      .query-comment {
        width: 100%;
      }
    }
    .views-field-produce-unit-load { flex: 100%; }
  }
  .views-field-nothing a {
    font-size: $font-size-small;
  }
  .views-field-actions {
    flex: 100%;
    border-top: 1px solid $gray-lightest;
    padding: 4px 0 4px;
    text-align: right;
    a { margin-left: 10px; }
  }
  .views-field-comment a {
    text-decoration: underline;
    text-decoration-style: dashed;
  }
  &.view-queries,
  &.view-manager-queries {
    .attachment-before {
      text-align: right;
      position: absolute; right: 0; top: 33px;
    }
    .view-content {
      > h3 { margin-top: 40px; }
      .collapse.in,
      .collapsing { padding-top: 15px; }
    }
    .view-item {
      justify-content: flex-start;
      border: 1px solid $gray-lightest;
      border-top: 8px solid $gray-lightest;
      padding: 20px 20px 0;
      &.actual:not(.produced) { border-color: $brand-success; }
      &.attention { border-color: $brand-danger; }
      &.processing { border-color: $brand-warning; }

      &.stamp-archive:after,
      &.stamp-processing:after,
      &.stamp-approved:after,
      &.stamp-deny:after,
      &.stamp-cancelled:after {
        position: absolute; top: 50px; left: 42%; z-index: 1;
        transform: rotate(-12deg); -webkit-transform: rotate(-12deg); -moz-transform: rotate(-12deg); -ms-transform: rotate(-12deg); -o-transform: rotate(-12deg);
        color: $brand-danger; font-size: 26px;
        background: #fff;
        border: solid 4px $brand-danger; border-radius: 5px;
        padding: 5px;
        zoom: 1;
        filter: alpha(opacity=50); opacity: 0.5;
        text-shadow: 0 0 2px $brand-danger;
        box-shadow: 0 0 2px $brand-danger;
      }
      &.stamp-cancelled.no-load:after {
        //top: 8px;
      }
      &.stamp-approved:after {
        content: "УТВЕРЖДЕНА";
        color: $brand-success; border-color: $brand-success; text-shadow: 0 0 2px $brand-success; box-shadow: 0 0 2px $brand-success;
      }
      &.stamp-deny:after {
        content: "ОТКЛОНЕНА";
      }
      &.stamp-archive:after {
        content: "АРХИВ";
        left: 46%;
        color: $brand-warning; border-color: $brand-warning; text-shadow: 0 0 2px $brand-warning; box-shadow: 0 0 2px $brand-warning;
      }
      &.stamp-processing:after {
        content: "НА СОГЛАСОВАНИИ";
        left: 40%;
        color: $brand-warning; border-color: $brand-warning; text-shadow: 0 0 2px $brand-warning; box-shadow: 0 0 2px $brand-warning;
      }
      &.stamp-cancelled:after {
        content: "ОТМЕНЕНА";
      }
      .query-comment { text-align: right; }
      &.from-client {
        .query-comment { text-align: left; }
      }
    }
  }
  &.view-manager-queries > div > .form-actions { display: none; } // кнопка сохранения для Editable fields
  &.view-nomenklatura .table td {
    font-size: 16px;
  }
}

.views-exposed-widget label,
.views-field .views-label,
.form-item label {
  color: $text-muted; font-weight: 400; font-size: 12px;
  margin-bottom: 5px;
}


.view-report,
.view-report-by-unit {
  caption {
    color: $text-color; font-size: $font-size-h3;
    margin-top: 10px;
  }
  table th { color: $text-muted; font-weight: 400; }
  .views-field-created { width: 80px; }
  .views-field-field-qty { width: 85px; text-align: right; }
  .views-field-field-query-reason { width: 205px; }
  .views-field-field-nomenklatura { width: 265px; }
  .views-field-field-fault { width: 100px; }
  .report-item {
    display: flex;
    table {
      flex: auto;
    }
    .report-chart {
      flex: 0 0 300px;
      display: flex; align-items: center; justify-content: center;
      padding-top: $grid-gutter-width/2;
    }
  }
}


.view-weekends {
  .views-exposed-form { display: none; }
  .views-field-field-date {
    color: $text-muted;
  }
  .views-view-grid td {
    padding: 0 5px;
  }
}

.produce-unit {
  display: flex;
  margin-bottom: $grid-gutter-width/2;
  //margin-bottom: 0; // если установок две, то между ними нет интервала
  h3 { margin: 0 0 2px 0; }
  .produce-unit-name {
    flex: 0 1 155px;
    border-right: 1px solid $gray-lightest;
    padding-right: $grid-gutter-width/2; margin: 0;
    position: relative;
    .notification {
      border-radius: 10px;
      width: 20px; height: 20px;
      background: #f5af14;
      position: absolute; right: 10px; top: 10px;
      animation: blinker 1.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;
    }
    @keyframes blinker { to { opacity: 0; } }
  }
  .produce-unit-aux {
    flex: 0 1 130px;
    text-align: right;
    padding: 0 $grid-gutter-width/2; margin: 0;
  }
  .produce-unit-dates {
    padding: 0 $grid-gutter-width/2;
    margin: 0;
  }
  .produce-unit-performance {
    flex: 0 1 170px;
    border-left: 1px solid $gray-lightest;
    padding: 0 $grid-gutter-width/2;
    margin: 0;
  }
  .form-actions {
    flex: auto;
    padding-left: $grid-gutter-width/2;
    margin-top: 25px;
    text-align: center;
  }
  .form-checkboxes {
    display: flex; justify-content: space-between;
    margin: 2px 0 10px 0;
    label { padding: 0; }
    input[type="checkbox"] {
      position: absolute;
      opacity: 0;
      z-index: -1;
    }
    .c-box,
    input[type="checkbox"] + span {
      color: #000;
      display: flex; justify-content: center; align-items: center;
      width: 20px; height: 20px;
      border: 1px solid $gray-lightest;
      user-select: none;
    }
    input[type="checkbox"] + span:hover {
      background: lighten($brand-success, 20%);
    }

    .c-box.selected,
    input[type="checkbox"]:checked + span {
      background: #caffca;
      border-color: $brand-success;
    }

    .c-box.service {
      background: #ffd2d1;
      border-color: $brand-danger;
    }

    .c-box.loaded,
    input[type="checkbox"].loaded + span {
      background: #ffc29f;
      border-color: #ff5d00;
    }

    .c-box.company-loaded,
    input[type="checkbox"].company-loaded + span {
      background: #ffeacb;
      border-color: $brand-warning;
    }

    //.c-box.unavailable,
    input[type="checkbox"].unavailable:not(.loaded) + span {
      background: #dedede;
      border-color: #888888;
    }
    input[type="checkbox"]:disabled + span {
      cursor: default;
    }
  }

  .c-box,
  .checkbox {
    margin: 0 2px 0;
  }
  .c-box,
  .form-item.checkbox span { font-size: 11px; }
}

.produce-unit-legenda {
  font-size: $font-size-small;
  color: $text-muted;
  span {
    display: inline-block;
    width: 20px; height: 10px;
    border: 1px solid $gray-lightest;
    margin-right: 5px;
    vertical-align: middle;
    &:not(:first-child) { margin-left: 30px; }
    &.selected {
      background: #caffca;
      border-color: $brand-success;
    }
    &.loaded {
      background: #ffc29f;
      border-color: #ff5d00;
    }
    &.company-loaded {
      background: #ffeacb;
      border-color: $brand-warning;
    }
    &.unavailable {
      background: #dedede;
      border-color: #888888;
    }
    &.service {
      background: #ffd2d1;
      border-color: $brand-danger;
    }
  }
  .attachment & {
    margin-left: 162px;
    margin-bottom: 15px;
  }
}




form[id^=user-login] {
  @include make-md-column-offset(3);
  @include make-md-column(6);
}

form.query-form {
  > div {
    display: flex;
    flex-wrap: wrap;
  }
  .field-name-field-month {
    flex: 100%;
  }
  .field-name-field-nomenklatura {
    margin-right: $grid-gutter-width/2;
  }
  .field-name-old-qty {
    margin-right: $grid-gutter-width/2;
    .form-markup {
      font-size: 1.2em;
      margin: 5px 0 5px;
      text-align: right;
    }
  }
  .field-name-field-qty input { text-align: right; }
  .field-name-field-query-period {
    flex: 100%;
    .form-item-field-query-period-und-0-value-time,
    .form-item-field-query-period-und-0-value2-time { display: none; }
  }
  .produce-units-wrapper {
    flex: 100%;
    .alert { margin-bottom: $grid-gutter-width/2; }
  }
  .produce-unit-add-wrapper {
    flex: 100%;
    display: flex;
    align-items: flex-end;
    .form-item-pu-select { margin: 0 $grid-gutter-width/2 0 0; }
  }
  .field-name-field-comment {
    flex: 100%;
  }
  .field-name-field-query-client-approve {
    flex: 100%;
  }
}

.popover { max-width: initial; }
.message-content .form-item > div > div,
.popover-content > div > div {
  font-size: $font-size-small;
  display: flex;
  > div:first-child {
    color: $text-muted;
    flex: 0 0 85px;
  }
  > div:nth-child(2) {  }
  > div:nth-child(3) { flex: 0 0 300px; }
}
