
a:focus {
  outline: 0;
}
.page-header {
  margin-top: 30px;
}
.navbar .logo {
  display: block;
  width: 45px;
  img { display: block; width: 100%; }
}
.breadcrumb {
  display: none;
}

.checkbox label {
  line-height: 20px;
}


.date-form-element-content {
  border: none;
  padding: 0;
  display: flex;
  justify-content: flex-start;
}
.container-inline-date {
  //flex: 0 0 auto;
  width: initial;
  .end-date-wrapper {
    label {
      font-weight: 400;
      vertical-align: top;
      line-height: 2.5;
    }
    .date-padding {
      float: none;
      display: inline-block;
    }
  }
  .form-type-select { margin-right: 5px; }
}

form {
  .form-control:not(.form-textarea) {
    //width: initial; // в установке, поле производительность на всю длинну вместо 100% заданного flex контейнера
  }
  .form-actions { margin-top: $grid-gutter-width/2; }

  #field-nomenklatura {
    .field-name-field-nomenklatura,
    button { display: inline-block; }
    button {
      display: inline-block;
      vertical-align: top;
      margin: 24px 0 0 15px;
    }
  }
}

.block-views {
  h2 { margin-bottom: $grid-gutter-width/2; }
}

.table {
  font-size: $font-size-small;
  .form-control {
    font-size: $font-size-small;
  }
  .views-field-field-comment { max-width: 250px; }
}

.dtable {
  .dhead {
    display: flex;
    font-weight: 700;
    border-bottom: 2px solid #ddd;
  }
  .drow {
    display: flex;
    border-bottom: 1px solid #ddd;
    min-height: 10px;
  }
  .dcol {
    display: flex;
    padding: 8px;
    line-height: 1.42857;
    vertical-align: top;
  }
  .arch {
    background-color: #eee;
    border: none;
  }
  .views-field-field-nomenklatura {
    flex: 1 0 300px;
  }
  .views-field-created { flex: 0 0 120px; justify-content: center; }
  .views-field-field-qty { flex: 0 0 80px; justify-content: flex-end; }
  .views-field-field-query-reason { flex: 1 0 240px; }
  .views-field-field-query-status-manager { flex: 0 0 140px; }
  .views-field-actions {
    justify-content: flex-end; align-items: center;
    flex: 0 0 230px;
    a { margin-left: 10px; }
  }
}

.view {
  .view-filters {
    .views-exposed-form {
      .date-padding { display: flex; }
    }
  }
  &.view-display-id-page_1 {
  position: relative;
  .attachment-before,
  .view-filters,
  .view-header {
    margin-bottom: $grid-gutter-width/2;
    a.btn { margin: 0  5px $grid-gutter-width/2 0; }
  }
  .views-widget {
    display: flex;
    .control-label { display: none; }
    .form-item-month-min { margin-right: 15px; }
    .form-item-month-min-month,
    .form-item-month-max-month { margin-right: 5px; }
  }
  .form-item-field-month-value-value-month,
  .form-item-field-produce-date-value-value-month,
  .form-item-month-value-month { margin-right: 5px; }
  .view-item {
    display: flex; justify-content: space-between; flex-wrap: wrap;
    margin-bottom: $grid-gutter-width/2;
    position: relative;
    .views-field-created {
      flex: 0 0 150px;
      margin-bottom: $grid-gutter-width/2;
      a {
        color: inherit; font-size: inherit; cursor: pointer;
        &:hover { text-decoration: none; }
      }
    }

    .views-field-field-qty { flex: 0 0 120px; }
    .views-field-field-query-reason { flex: 300px; }
    .views-field-field-query-status-manager { flex: 0 0 220px; }
    .views-field-field-query-type { flex-basis: 100px; }
    .views-field-uid {
      flex: 100px;
      text-align: right;
    }

    .views-field-produce-units-form {
      flex: 100%;
      padding: $grid-gutter-width/2 0 0 0;
      border-top: 1px solid $gray-lightest;
      .query-comment {
        width: 100%;
      }
    }
    .views-field-produce-unit-load { flex: 100%; }
  }
  .views-field-nothing a {
    font-size: $font-size-small;
  }
  .views-field-actions {
    flex: 100%;
    border-top: 1px solid $gray-lightest;
    padding: 4px 0 4px;
    text-align: right;
    a { margin-left: 10px; }
  }
  .views-field-comment a {
    text-decoration: underline;
    text-decoration-style: dashed;
  }
  &.view-queries,
  &.view-manager-queries {
    .attachment-before {
      text-align: right;
      position: absolute; right: 0; top: 33px;
    }
    .view-content {
      > h3 { margin-top: 40px; }
      .collapse.in,
      .collapsing { padding-top: 15px; }
    }
    .view-item {
      justify-content: flex-start;
      border: 1px solid $gray-lightest;
      border-top: 8px solid $gray-lightest;
      padding: 15px 20px 0;
      &.actual:not(.produced) { border-color: $brand-success; }
      &.attention { border-color: $brand-danger; }
      &.processing { border-color: $brand-warning; }

      &.stamp-archive:after,
      &.stamp-processing:after,
      &.stamp-approved:after,
      &.stamp-deny:after,
      &.stamp-cancelled:after {
        position: absolute; top: 50px; left: 42%; z-index: 1;
        transform: rotate(-12deg); -webkit-transform: rotate(-12deg); -moz-transform: rotate(-12deg); -ms-transform: rotate(-12deg); -o-transform: rotate(-12deg);
        color: $brand-danger; font-size: 26px;
        background: #fff;
        border: solid 4px $brand-danger; border-radius: 5px;
        padding: 5px;
        zoom: 1;
        filter: alpha(opacity=50); opacity: 0.5;
        text-shadow: 0 0 2px $brand-danger;
        box-shadow: 0 0 2px $brand-danger;
      }
      &.stamp-cancelled.no-load:after {
        //top: 8px;
      }
      &.stamp-approved:after {
        content: "УТВЕРЖДЕНА";
        color: $brand-success; border-color: $brand-success; text-shadow: 0 0 2px $brand-success; box-shadow: 0 0 2px $brand-success;
      }
      &.stamp-deny:after {
        content: "ОТКЛОНЕНА";
      }
      &.stamp-archive:after {
        content: "АРХИВ";
        left: 46%;
        color: $brand-warning; border-color: $brand-warning; text-shadow: 0 0 2px $brand-warning; box-shadow: 0 0 2px $brand-warning;
      }
      &.stamp-processing:after {
        content: "НА СОГЛАСОВАНИИ";
        left: 40%;
        color: $brand-warning; border-color: $brand-warning; text-shadow: 0 0 2px $brand-warning; box-shadow: 0 0 2px $brand-warning;
      }
      &.stamp-cancelled:after {
        content: "ОТМЕНЕНА";
      }
      .query-comment {
        text-align: right;
        .alert { padding: 8px 15px; }
      }
      &.from-client {
        .query-comment { text-align: left; }
      }
    }
  }
  &.view-manager-queries > div > .form-actions { display: none; } // кнопка сохранения для Editable fields
  &.view-nomenklatura .table td {
    font-size: 16px;
  }
}
}

.view.view-display-id-page_2 {
  position: relative;

  .view-filters,
  .view-header {
    margin-bottom: $grid-gutter-width;
  }
}

.views-exposed-widget label,
.views-field .views-label,
.form-item label {
  color: $text-muted; font-weight: 400; font-size: 12px;
  margin-bottom: 5px;
}


.view-report,
.view-report-by-unit {
  caption {
    color: $text-color; font-size: $font-size-h3;
    margin-top: 10px;
  }
  table th { color: $text-muted; font-weight: 400; }
  .views-field-created { width: 80px; }
  .views-field-field-qty { width: 85px; text-align: right; }
  .views-field-field-query-reason { width: 205px; }
  .views-field-field-nomenklatura { width: 265px; }
  .views-field-field-fault { width: 100px; }
  .report-item {
    display: flex;
    table {
      flex: auto;
    }
    .report-chart {
      flex: 0 0 300px;
      display: flex; align-items: center; justify-content: center;
      padding-top: $grid-gutter-width/2;
    }
  }
}


.view-nomenklatura {
  .views-exposed-form {
    .views-widget {
      display: flex;
      .form-type-date-select label { display: none; }
      .form-item-month-min { margin-right: 30px; }
    }
  }
}

.view-weekends {
  .views-exposed-form { display: none; }
  .views-field-field-date {
    color: $text-muted;
  }
  .views-view-grid td {
    padding: 0 5px;
  }
}

#pu-load-form-wrapper {
  .month-select-wrapper {
    display: flex; align-items: flex-end;
    .form-item { margin: 0 5px 15px 0; }
  }
}
.produce-units {
  display: flex;
  .produce-units-list { flex: auto; }
}
.produce-unit {
  display: flex; flex-wrap: wrap;
  margin-bottom: $grid-gutter-width/2;

  .view-item & { flex-wrap: nowrap;}
  //margin-bottom: 0; // если установок две, то между ними нет интервала
  h3 {
    font-size: 20px;
    margin: 0 0 2px 0;
  }
  .label {
    display: inline-block;
    color: $text-muted; font-weight: 400; font-size: 12px;
    margin-bottom: 10px; padding: 0;
  }
  .produce-unit-name {
    flex: 0 1 130px;
    border-right: 1px solid $gray-lightest;
    padding-right: $grid-gutter-width/2; margin: 0;
    position: relative;
    .notification {
      border-radius: 10px;
      width: 20px; height: 20px;
      background: #f5af14;
      position: absolute; right: 10px; top: 10px;
      animation: blinker 1.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;
    }
    @keyframes blinker { to { opacity: 0; } }
  }
  .produce-unit-aux {
    flex: 0 1 130px;
    text-align: right;
    padding: 0 $grid-gutter-width/2; margin: 0;
  }
  .produce-unit-nom {
    flex: 100%;
    padding-left: 150px;
    color: $text-muted; font-size: $font-size-small;
  }
  .produce-unit-dates {
    padding: 0 $grid-gutter-width/2;
    margin: 0;
    flex: auto;
  }
  .produce-unit-performance {
    flex: 0 1 170px;
    border-left: 1px solid $gray-lightest;
    padding: 0 $grid-gutter-width/2;
    margin: 0;
  }
  .form-actions {
    flex: auto;
    padding-left: $grid-gutter-width/2;
    margin-top: 25px;
    text-align: center;
  }
  .form-checkboxes {
    display: flex; justify-content: flex-start;
    margin: 2px 0 10px 0;
    label { padding: 0; }
    input[type="checkbox"] {
      position: absolute;
      opacity: 0;
      z-index: -1;
    }
    .c-box,
    input[type="checkbox"] + span {
      color: #000;
      display: flex; justify-content: center; align-items: center;
      width: 20px; height: 20px;
      border: 1px solid $gray-lightest;
      user-select: none;
    }
    input[type="checkbox"] + span:hover {
      background: lighten($brand-success, 20%);
    }

    .c-box.selected,
    input[type="checkbox"]:checked + span {
      background: #caffca;
      border-color: $brand-success;
    }

    .c-box.service {
      background: #ffd2d1;
      border-color: $brand-danger;
    }

    .c-box.loaded,
    input[type="checkbox"].loaded + span {
      background: #ffc29f;
      border-color: #ff5d00;
    }

    .c-box.company-loaded,
    input[type="checkbox"].company-loaded + span {
      background: #ffeacb;
      border-color: $brand-warning;
    }

    //.c-box.unavailable,
    input[type="checkbox"].unavailable:not(.loaded) + span {
      background: #dedede;
      border-color: #888888;
    }
    input[type="checkbox"]:disabled + span {
      cursor: default;
    }
  }

  .c-box,
  .checkbox {
    margin: 0 2px 0;
  }
  .c-box,
  .form-item.checkbox span { font-size: 11px; }
}

.produce-unit-legenda {
  display: flex; flex-wrap: wrap; align-content: center;
  flex: 0 0 200px;
  padding-left: 15px;
  color: $text-muted; font-size: 11px;
  span {
    display: inline-block;
    width: 20px; height: 10px;
    border: 1px solid $gray-lightest;
    margin-right: 5px;
    vertical-align: middle;
    &:not(:first-child) { margin-left: 30px; }
    &.selected {
      background: #caffca;
      border-color: $brand-success;
    }
    &.loaded {
      background: #ffc29f;
      border-color: #ff5d00;
    }
    &.company-loaded {
      background: #ffeacb;
      border-color: $brand-warning;
    }
    &.unavailable {
      background: #dedede;
      border-color: #888888;
    }
    &.service {
      background: #ffd2d1;
      border-color: $brand-danger;
    }
  }
  .attachment & {
    margin-left: 162px;
    margin-bottom: 15px;
  }
  &.top {
    margin: 0 0 20px 130px;
    > div { margin-right: 30px; }
  }
  &.bottom {
    margin: 0 0 0 130px;
    > div { margin-right: 30px; }
  }
}




form[id^=user-login] {
  @include make-md-column-offset(3);
  @include make-md-column(6);
}

form.query-form {
  > div {
    display: flex;
    flex-wrap: wrap;
  }
  .field-name-field-month {
    flex: 100%;
  }
  .field-name-field-nomenklatura {
    margin-right: $grid-gutter-width/2;
  }
  .field-name-old-qty {
    margin-right: $grid-gutter-width/2;
    .form-markup {
      font-size: 1.2em;
      margin: 5px 0 5px;
      text-align: right;
    }
  }
  .field-name-field-qty input { text-align: right; }
  .field-name-field-query-period {
    flex: 100%;
    .form-item-field-query-period-und-0-value-time,
    .form-item-field-query-period-und-0-value2-time { display: none; }
  }
  .produce-units-wrapper {
    flex: 100%;
    .alert { margin-bottom: $grid-gutter-width/2; }
  }
  .produce-unit-add-wrapper {
    flex: 100%;
    display: flex;
    align-items: flex-end;
    .form-item-pu-select { margin: 0 $grid-gutter-width/2 0 0; }
  }
  .field-name-field-comment {
    flex: 100%;
  }
  .field-name-field-query-client-approve {
    flex: 100%;
  }
}

.popover { max-width: initial; }
.message-content .form-item > div > div,
.popover-content > div > div {
  font-size: $font-size-small;
  display: flex;
  > div:first-child {
    color: $text-muted;
    flex: 0 0 85px;
  }
  > div:nth-child(2) {  }
  > div:nth-child(3) { flex: 0 0 300px; }
}

.table-year-plan {
  font-size: 10px;
  th:first-child { width: 300px; }
  th[align=right] { text-align: right; }
  th[align=center] { text-align: center; }
  .red { color: $brand-danger; }
  .green { color: $brand-success; }
}

.month-select-wrapper {
  display: flex;
  .form-item-month { margin-right: .5rem; }
}


.nom-list-page {
  margin-bottom: 4rem;
  .filters { display: flex; }
  .filter { flex: 0 0 auto; }
  .sort {
    flex: 1 0 auto;
    display: flex; justify-content: right;
    align-items: end;
    .btn-link {
      color: inherit;
      &.selected { text-decoration: underline; }
    }
  }
  .form-item { margin-right: 1rem; }

  .nom-add {
    text-align: right;
    margin-bottom: 1rem;
  }
  .nom-item {
    border: 1px solid $text-muted;
    border-top-width: 3px;
    margin-bottom: 2rem; padding: 1rem 2rem;
    a {
      color: $text-color;
      &:hover, &:focus { text-decoration: none; }
    }
    .n-header {
      display: flex;
      .n-title { flex: auto; }
      .n-date {
        flex: 0 0 130px;
        text-align: right;
      }
      .n-volume {
        flex: 0 0 auto;
        .field-content { text-align: right; }
      }
      .field-label { margin-bottom: 0; }
      .field-content {
        font-size: $font-size-h4; font-weight: 600;
      }
    }
    .n-footer {
      display: flex;
      border-top: 1px solid $text-muted;
      padding-top: 1rem;
      .n-date-change { flex: 0 0 180px; }
      .n-change {
        flex: auto;
        &.m-client { text-align: right; }
      }
      .n-actions {
        flex: 0 0 130px;
        display: flex; justify-content: end; align-items: end;
      }
      .field { margin-bottom: 0; }
    }
    &.warn-yellow { border-color: $brand-warning; }
    &.warn-red { border-color: $brand-danger; }
  }
}

.nom-page {
  margin-bottom: 4rem;
  .n-header {
    color: #fff;
    background: #333;
    border-radius: 5px;
    display: flex;
    padding: 2rem 2rem 0; margin: 2rem 0 3rem;
    .n-title {
      flex: auto;
      padding-right: 2rem;
    }
    .n-month { flex: 0 0 190px; }
    .n-date {
      flex: 0 0 140px;
      padding-left: 2rem;
      text-align: center;
    }
    .n-volume {
      flex: 0 0 auto;
      padding: 0 2rem;
      text-align: center;
    }
    .field-label { color: #fff; }
    .field-content { font-size: $font-size-h2; font-weight: 600; }
    &.warn-yellow { background-color: $brand-warning; }
    &.warn-red { background-color: $brand-danger; }
  }
  .n-plan {
    margin-bottom: 3rem;
    padding: 0 2rem;
  }
  .n-history {
    display: flex;
    align-items: flex-start;
    label { margin-bottom: 1rem; }
  }
  .n-left {
    flex: 25%;
    margin-right: 1rem;
  }
  .n-actions {
    border: 1px solid #ddd; border-radius: 5px;
    padding: 1rem 2rem; margin-bottom: 2rem;
    a {
      margin-bottom: 1rem;
      width: 100%;
    }
  }
  .n-settings {
    border: 1px solid #ddd; border-radius: 5px;
    padding: 1rem 2rem;
    a {
      margin-bottom: 1rem;
      width: 100%;
    }
  }
  .n-messages {
    flex: 75%;
    margin-left: 1rem;
    border: 1px solid #ddd; border-radius: 5px;
    padding: 1rem 2rem;
  }
}

.field {
  margin-bottom: 1rem;
}
.field-label {
  display: block;
  color: $text-muted; font-weight: 400; font-size: $font-size-small;
  cursor: inherit;
  margin-bottom: 4px; padding: 0;
}

.message-row {
  display: flex;
  width: 100%;
  &.m-client { justify-content: right; }
  &.m-prod { justify-content: left; }
}
.message {
  flex: 0 1 auto;
  background: #eee;
  border-radius: 5px;
  max-width: 67%; min-width: 150px;
  padding: 1.5rem 2rem 2.7rem; margin-bottom: 2rem;
  position: relative;
  .m-date {
    color: $text-muted; font-size: $font-size-small;
    position: absolute; bottom: .7rem; right: 1.5rem;
    a {
      color: inherit;
      &:hover { text-decoration: none; }
    }
  }
  .m-change {
    font-size: $font-size-large; font-weight: 600;
  }
  .m-reason {
    color: $text-muted;
    margin-bottom: 1rem;
  }
  .m-params {
    background: #bbb;
    border-radius: 5px;
    color: #fff; font-size: 12px;
    margin-top: 5px; padding: 3px 8px;
  }
  .m-files {
    background: #ddd;
    border-radius: 5px;
    padding: 2px 10px; margin-top: 5px;
    a { color: inherit; font-size: $font-size-small; }
  }
  .m-warning {
    background-color: $brand-danger;
    border-radius: 5px;
    position: absolute; top: 10px; right: 10px;
    width: 8px; height: 8px;
  }
}

.message-add-wrapper {
  max-width: 600px;
  .intro { padding-bottom: 2rem; }
  .form-item-nom,
  .form-item-comment {  }
  .form-item-volume { max-width: 150px; }
  .warning {
    background: $brand-danger;
    border-radius: 5px;
    color: #fff; line-height: 1.2;
    padding: 1rem 1.5rem 1.5rem;
  }
}

.navbar-fixed-top { z-index: 100; }
.ui-widget-overlay {
  background: #000;
  opacity: .7;
}
.ui-dialog {
  .ui-dialog-content {
    overflow: hidden;
    padding: 2rem;
  }
}

.plupload_wrapper {
  font-family: inherit;
  .plupload_start { display: none; }
  .plupload_filelist_footer {
    height: auto;
    line-height: initial;
  }
}
