.date-form-element-content {
  border: none;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  .container-inline-date {
    //flex: 0 0 auto;
    width: initial;
    .end-date-wrapper {
      label {
        font-weight: 400;
        vertical-align: top;
        line-height: 2.3;
      }
      .date-padding {
        float: none;
        display: inline-block;
      }
    }
  }
}

form .form-control:not(.form-textarea) {
  width: initial;
}

.block-views {
  h2 { margin-bottom: $grid-gutter-width/2; }
}

.table {
  font-size: $font-size-small;
  .form-control {
    font-size: $font-size-small;
  }
  .views-field-field-comment { max-width: 250px; }
}

.view {
  .view-header {
    margin-bottom: $grid-gutter-width/2;
  }
  &.view-manager-queries {
    .form-actions { display: none; }
  }
  .view-item {
    display: flex; justify-content: space-between; flex-wrap: wrap;
    margin-bottom: $grid-gutter-width/2;
    > div { }
    .views-field-produce-units {
      flex: 100%;
      margin-top: $grid-gutter-width/2; padding-top: $grid-gutter-width/2;
      border-top: 1px solid $gray-lightest;
    }
  }
  &.view-queries {
    .view-item {
      border: 1px solid $gray-lightest;
      padding: 20px;
    }
  }
}

.views-field .views-label,
.form-item label {
  color: $gray-lighter; font-weight: 400; font-size: .9em;
  margin-bottom: 5px;
}

.produce-unit {
  display: flex;
  .produce-unit-name {
    flex: 0 1 120px;
    border-right: 1px solid $gray-lightest;
    padding-right: $grid-gutter-width/2; margin: 0;
    h3 { margin: 0 0 2px 0; }
  }
  .produce-unit-performance {
    flex: 0 1 110px;
    border-right: 1px solid $gray-lightest;
    padding: 0 $grid-gutter-width/2; margin: 0;
    h4 {
      line-height: $line-height-large; text-align: right;
      margin: 0;
    }
  }
  .produce-unit-dates {

    border-right: 1px solid $gray-lightest;
    padding: 0 $grid-gutter-width/2;
    margin: 0;
  }
  .form-actions {
    flex: auto;
    padding-left: $grid-gutter-width/2;
    margin-top: 25px;
    text-align: center;
  }
  .form-checkboxes {
    display: flex; justify-content: space-between;
    margin-top: 2px;
    label { padding: 0; }
    input[type="checkbox"] {
      position: absolute;
      opacity: 0;
      z-index: -1;
    }
    input[type="checkbox"] + span {
      color: #000;
      display: flex; justify-content: center; align-items: center;
      width: 20px; height: 20px;
      border: 1px solid $gray-lightest;
    }
    input[type="checkbox"]:checked + span {
      background: $brand-success;
      border-color: $brand-success;
      color: #fff;
    }
    input[type="checkbox"]:disabled + span {
      background: $brand-warning;
      border-color: $brand-warning;
      color: #fff;
    }
  }
  .checkbox {
    font-size: .9em;
    margin: 0 2px 0;
  }
  .produce-unit-form:last-child & {
    margin-bottom: 0;
  }

}


form[id^=user-login],
form[id^=eck-entity-form-add-query-query] {
  @include make-md-column-offset(3);
  @include make-md-column(6);
}
